.achievements {
    position         : relative;
    display          : flex;
    align-items      : center;
    justify-content  : center;
    padding          : 35px 0;
    background-color : #fff;
    border-radius    : 10px;
    margin-bottom    : 100px;
}

.achievements::after {
    content          : "";
    position         : absolute;
    left             : 20px;
    height           : 100%;
    top              : 50px;
    width            : calc(100% - 40px);
    border-radius    : 10px;
    opacity          : 0.06;
    background-color : #0D1025;
    filter           : blur(57px);
    z-index          : -1;
}

.achievements__item {
    display         : flex;
    justify-content : center;
    flex            : 1 0 auto;
    padding         : 30px;
}

.achievements__item:not(:last-child) {
    border-right : 2px solid #EEEFF2;
}

.achievement__icon {
    width        : 55px;
    height       : 55px;
    margin-right : 35px;
}

.achievements__content {
    display        : flex;
    flex-direction : column;
}

.achievement__title {
    color       : #0B132A;
    font-size   : 25px;
    font-weight : 700;
    line-height : 30px;
}

.achievement__text {
    font-size   : 20px;
    line-height : 30px;
}

@media (max-width : 768px) {
    .achievement__icon {
        margin-right  : 0;
        margin-bottom : 15px;
    }

    .achievements__item {
        flex-direction : column;
        align-items    : center;
        text-align     : center;
        padding        : 0;
    }

    .achievements__item:not(:last-child) {
        border-right : none
    }
}


@media (max-width : 480px) {

}